# String Based Assignment Problem:

1. Write a program to reverse a string.

In [ ]:
string = "pw skills "
string= string[::-1]
print(string)

2. Check if a string is a palindrome.

In [ ]:
string = "titit"
if string == string[::-1]:
    print("true")
else:
    print("false")

3. Convert a string to uppercase.

In [ ]:
string = "uperstring"
print(string.upper())

4. Convert a string to lowercase.

In [ ]:
string = "LOWERSTRING"
print(string.lower())

5. Count the number of vowels in a string.

In [ ]:
string = "there are vowels in this string"
v= 'aeiouAEIOU'
c= 0
for char in string:
    if char in v:
        c += 1
print(c)

6. Count the number of consonants in a string.

In [ ]:
string = "there are vowels in this string"
vowels = {'a', 'e', 'i', 'o', 'u'}
c= 0
for char in string:
    if char.isalpha() and char.lower() not in vowels:
        c += 1
print(c)

7. Remove all whitespaces from a string.

In [ ]:
string = "There is no space here"
print(string.replace(" ", ""))

8. Find the length of a string without using the `len()` function.

In [ ]:
string= "this is count of string"
c= 0
for char in string:
    c += 1
print(c)

9. Check if a string contains a specific word.

In [ ]:
s = "Check if a string contains a specific word"
word = "string"
print(word in s)

10. Replace a word in a string with another word.

In [ ]:
string = "this is original string"
old= "this"
new= "that was"
print(string.replace(old, new))

11. Count the occurrences of a word in a string.

In [ ]:
string="Count the occurrences of a word in a string"
word = "a"
words = string.split()
count = 0
for w in words:
    if w == word:
        count += 1
print(count)

12. Find the first occurrence of a word in a string.

In [ ]:
string = 'Find the first occurrence of a word in a string.'
word = "of"
print(string.find(word))

13. Find the last occurrence of a word in a string.

In [ ]:
string = "Find the last occurrence of a word in a string"
word =  "a"
print(string.rfind(word))

14. Split a string into a list of words.

In [ ]:
string = "This is split strings"
words= string.split()
print(words)

15. Join a list of words into a string.

In [ ]:
words= ["This","is","with","join", "function"]
string= " ".join(words)
print(string)

16. Convert a string where words are separated by spaces to one where words
are separated by underscores.

In [ ]:
string= "this was a string that was separated by space now in is separated by underscores"
string= string.replace(" ", "_")
print(string)

17. Check if a string starts with a specific word or phrase.

In [ ]:
string = "Check if a string starts with a specific word or phrase"
word = "Check"

if string.startswith(word):
    print("Ture")
else:
    print("false")

18. Check if a string ends with a specific word or phrase.

In [ ]:
string = "Check if a string ends with a specific word or phrase"
word = "phrase"

if string.endswith(word):
    print("Ture")
else:
    print("false")

19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [ ]:
string = "hello world"
string = string.title()
print(string)

20.Find the longest word in a string.

In [ ]:
string = "Find the longest word in a string"
words = string.split()
long1 = max(words, key=len)
print(long1)

21. Find the shortest word in a string.

In [ ]:
s ='Find the shortest word in a string'
words = s.split()
short = min(words, key=len)
print(short)

22. Reverse the order of words in a string.

In [ ]:
string = "Reverse the order of words in a string"
words = s.split()
reversed= words[::-1]
reversed= ' '.join(reversed)
print(reversed)

23. Check if a string is alphanumeric.

In [ ]:
string ="Hello123"
print(string.isalnum())

24. Extract all digits from a string.

In [ ]:
string = "as65dfs765dsd567s5d"
d = ''
for char in string:
    if char.isdigit():
        d += char
print(d)

25. Extract all alphabets from a string.

In [ ]:
string = "as65dfs765dsd567s5d"
a= ''
for char in string:
    if char.isalpha():
        a += char
print(a)

26. Count the number of uppercase letters in a string.

In [ ]:
string ="Count The Number Of Uppercase Letters In A String"
count = 0
for char in string:
    if char.isupper():
        count += 1
print(count)

27. Count the number of lowercase letters in a string.

In [ ]:
string ="Count The Number Of Uppercase Letters In A String"
count = 0
for char in string:
    if char.islower():
        count += 1
print(count)

28. Swap the case of each character in a string.

In [ ]:
string = "Swap The Case Of Each Character in a String"
print(string.swapcase())

29. Remove a specific word from a string.

In [ ]:
string = "Remove a specific word from a string"
word = "word"
string =string.replace(word, "")
print(string)

30. Check if a string is a valid email address.

In [ ]:
email = "chaitanyanimbalkar804@gmail.com"
if "@" not in email:
    print("false")
user, d = email.split("@", maxsplit=1)
if not user:
    print("false")
if "." not in d:
    print("false")
print("It is valid email address")

31. Extract the username from an email address string.

In [ ]:
email = "chaitanyanimbalkar804@gmail.com"
user= email.split("@")[0]
print(user)

32. Extract the domain name from an email address string.

In [ ]:
email = "example@email.com"
d = email.split('@')[1]
print(d)

33. Replace multiple spaces in a string with a single space.

In [ ]:
string = "Replace  multiple  spaces  in a  string  with  a single space"
print(string.replace("  ", " "))

34. Check if a string is a valid URL.

In [ ]:
url = "https://colab.research.google.com/"
if not url.startswith(("http://", "https://")):
    print("false")
else:
    print("ture")

35. Extract the protocol (http or https) from a URL string.

In [ ]:
url = "https://colab.research.google.com/"
if not url.startswith(("http://", "https://")):
    print()
protocol = url.split("://")[0]
print(protocol)

36. Find the frequency of each character in a string.

In [ ]:
string = "find the frequency"
fq = {}
for char in string:
    if char in fq:
        fq[char] += 1
    else:
        fq[char] = 1
print(fq)

37. Remove all punctuation from a string.

In [ ]:
string ="*(&Re&*&mo&^ve (&^al*(&l &^*pun&^ctuation"
x= '''!()-[]{};:'"<>./?@#$%^&*_~,/'''
t = ''
for char in string:
    if char not in x:
        t += char
print(t)

38. Check if a string contains only digits.

In [ ]:
string = "123456789"
if string.isdigit():
    print("True")
else:
    print("False")

39. Check if a string contains only alphabets.

In [ ]:
string = "pwskills"
if string.isalpha():
    print("True")
else:
    print("False")

40. Convert a string to a list of characters.

In [ ]:
string = "pwskills"
print(list(string))

41. Check if two strings are anagrams.

In [ ]:
string1 = "listen"
string2 = "silent"
print(sorted(string1) == sorted(string2))

42. Encode a string using a Caesar cipher.

In [ ]:
# Not understand this question try very hard

43. Decode a Caesar cipher encoded string.

In [ ]:
# Not understand this question try very hard

44. Find the most frequent word in a string.

In [ ]:
string = "Find the most frequent word in a string the the the"
words = string.split()
most = max(words, key=words.count)
print(most)

45. Find all unique words in a string.

In [ ]:
string =  " all are unique all are unique "
words = string.split()
word = set(words)
print(word)

46. Count the number of syllables in a string.

47. Check if a string contains any special characters.

In [ ]:
n = "pw$skills"
n.split()
c = 0
s = '[@_!#$%^&*()<>?/\|}{~:]'
for i in range(len(n)):
    if n[i] in s:
        c += 1
if c:
    print("True")
else:
    print("False")

48. Remove the nth word from a string.

In [ ]:
string ="Remove the nth word from a string"
nth = 3
words = string.split()
if nth <= len(words):
    del words[nth - 1]
    print(' '.join(words))
else:
    print("false")

49. Insert a word at the nth position in a string.

In [ ]:
string='Insert a word at the position of the  string'
word="nth"
nth=21
print(string[:nth]+ word + string[nth:])

50. Convert a CSV string to a list of lists.

In [ ]:
csv_string ="Name,EmailAlice Smith,alice.smith@example.comBob Jones,bob.jones@company.comCharlie Brown,charlie.brown@mail.com"
lines = csv_string.split('\n')
result = []
for line in lines:
    if line:
        result.append(line.split(','))
print(result)

# List Based Practice Problem:

1. Create a list with integers from 1 to 10.

In [ ]:
list_with_integers = 1, 2, 3, 4, 5, 6, 7, 8, 9, 10

2. Find the length of a list without using the `len()` function.

In [ ]:
list_= [1, 2, 3, 4, 5]

l = 0
for i in list_:
    l += 1
print(l)

3. Append an element to the end of a list.

In [ ]:
list_ = [1,2,3,4,5]
list_.append(6)
print(list_)

4. Insert an element at a specific index in a list.

In [ ]:
_list = [1,3,4,5]
new = 2
_list.insert(1, new)
print(_list)

5. Remove an element from a list by its value.

In [ ]:
_list = [1, 2, 3, 4, 5]
_list.remove(2)
print(_list)

6. Remove an element from a list by its index.

In [ ]:
_list = [5,4,3,2,1]
element = _list.pop(2)
print(_list)

7. Check if an element exists in a list.

In [ ]:
_list = [1, 2, 3, 4, 5]
check = 2
if check in _list:
    print("True")
else:
    print('false')

8. Find the index of the first occurrence of an element in a list.

In [ ]:
_list = [10, 20, 30, 20, 40]
element = 40
index = _list.index(element)
print(index)

9. Count the occurrences of an element in a list.

In [ ]:
_list = [1, 2, 3, 4, 2, 2, 5, 6, 7, 2]
l= 2
count = _list.count(l)
print(count)

10. Reverse the order of elements in a list.

In [ ]:
_list = [1, 2, 3, 4, 5]
_list.reverse()
print(_list)

11. Sort a list in ascending order.

In [ ]:
_list =[3,1,4,1,5,9,2,6]
_list.sort()
print(_list)

12. Sort a list in descending order.

In [ ]:
_list = [3,1,4,1,5,9,2,6]
_list.sort(reverse=True)
print(_list)

13. Create a list of even numbers from 1 to 20.

In [ ]:
even_num = []
for num in range(1, 21):
  if num % 2 == 0:
    even_num.append(num)

print(even_num)

14. Create a list of odd numbers from 1 to 20.

In [ ]:
odd_num = []
for num in range(1, 21):
  if num % 2 != 0:
    odd_num.append(num)

print(odd_num)

15. Find the sum of all elements in a list.

In [ ]:
_list= [5,4,3,2,1]
sum(_list)

16. Find the maximum value in a list.

In [ ]:
_list= [5,4,3,2,1]
max(_list)

17. Find the minimum value in a list.

In [ ]:
_list= [5,4,3,2,1]
min(_list)

18. Create a list of squares of numbers from 1 to 10.

In [ ]:
squares = [i ** 2 for i in range(1, 11)]
print(squares)

19. Create a list of random numbers.

In [ ]:
import random
random_numbers =[random.randint(0, 100) for i in range(10)]

print(random_numbers)

20.Remove duplicates from a list .

In [ ]:
_list = [1, 2, 2, 3, 4, 4, 5]
_list = set(_list)
print(_list)

21. Find the common elements between two lists.

In [ ]:
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

l = set(list1).intersection(list2)
print(l)

22. Find the difference between two lists.

In [ ]:
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

l = set(list1).difference(list2)
print(l)

23. Merge two lists.

In [ ]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]

list1.extend(list2)
print(list1)

24. Multiply all elements in a list by 2

In [ ]:
_list = [1, 2, 3, 4, 5]
_list = [i * 2 for i in _list]
print(_list)

25. Filter out all even numbers from a list.

In [ ]:
number = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
odd_num = [num for num in number if num % 2 != 0]
print(odd_num)

26. Convert a list of strings to a list of integers.

In [ ]:
str_list = ['1', '2', '3', '4', '5']
int_list = [int(x) for x in str_list]
print(int_list)

27. Convert a list of integers to a list of strings.

In [ ]:
int_list = [1,2,3,4,5]
str_list = [str(x) for x in int_list]
print(str_list)

28. Flatten a nested list.

29. Create a list of the first 10 Fibonacci numbers.

In [ ]:
n = 3
if n <= 1:
    print(n)
else:
    fib_sequence = [0, 1]
    for i in range(2, n+1):
      fib_sequence.append(fib_sequence[i-1] + fib_sequence[i-2])
    print(fib_sequence)

30. Check if a list is sorted.

In [ ]:
data = [1, 2,  5, 7]
print(data == sorted(data))

31. Rotate a list to the left by `n` positions.

In [ ]:
lst = [1,2,3,4,5]
n = 4
print(lst[n:] + lst[:n])

32. Rotate a list to the right by `n` positions.

In [ ]:
lst = [1,2,3,4,5]
n = 4
print(lst[-n:] + lst[:-n])

33. Create a list of prime numbers up to 50.

In [ ]:
def prime(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True
prime_numbers = [num for num in range(2, 51) if prime(num)]
print(prime_numbers)

34. Split a list into chunks of size `n`.

In [ ]:
def split_list_into_chunks(lst, n):
    return [lst[i:i + n] for i in range(0, len(lst), n)]
lst = [1,2,3,4,5,6,7,8,9,10]
n = 3
split_list_into_chunks(lst, n)

35. Find the second largest number in a list.

In [ ]:
def sec_th_largest(lst):
    if len(lst) < 2:
        return "list must certain 2 elements"

    llist = sorted(lst, reverse=True)
    return llist[1]
numbers = [12,4,3,44,66,36,33,5]
print(sec_th_largest(numbers))

36. Replace every element in a list with its square.

In [ ]:
def squ_elements(lst):
    squared_list = [x ** 2 for x in lst]
    return squared_list
numbers = [1, 2, 3, 4, 5]
squ_numbers = squ_elements(numbers)
print(squ_numbers)

37. Convert a list to a dictionary where list elements become keys and their
indices become values.

In [ ]:
def lis_to_dict(ls):
    return {value: index for index, value in enumerate(ls)}
ls = ("hitesh","mittesh", "gittesh", "kamlesh")
lis_to_dict(ls)

38. Shuffle the elements of a list randomly.

In [ ]:
import random
llist = [1,2,3,4,5,6,6]
random.shuffle(llist)
print(llist)

39. Create a list of the first 10 factorial numbers.

In [ ]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)

ten_factorial = [factorial(i) for i in range(10)]
print(ten_factorial)

40. Check if two lists have at least one element in common.

In [ ]:
def have_com_ele(list1, list2):
  return bool(set(list1) & set(list2))
list1 = [1,2,3,4,5]
list2 = [5,4,3,2,1]
have_com_ele(list1,list2)

41. Remove all elements from a list.

In [ ]:
list1 = [1,2,3,4,5,6]
list1.clear()
list1

42. Replace negative numbers in a list with 0.

In [ ]:
def replace(data):
  return [0 if num < 0 else num for num in data]
list1 = [1, -3, 4, -2, 5]
replace(list1)

43. Convert a string into a list of words.

In [ ]:
str1 = "what is your name in school"
str1.split()

44. Convert a list of words into a string.

In [ ]:
str12 = ("what","is","your","name","in","school")
str1 = ''.join(str12)
print(str1)

45. Create a list of the first `n` powers of 2.

In [ ]:
n = 5
powers_of_2 = [2 ** i for i in range(n)]
print(powers_of_2)

46. Find the longest string in a list of strings.

In [ ]:
str1 =["what","is","your","name","in","school"]
long_str = max(str1, key=len)
print(long_str)

47. Find the shortest string in a list of strings.

In [ ]:
str1 =["what","is","your","name","in","school"]
long_str = min(str1, key=len)
print(long_str)

48. Create a list of the first `n` triangular numbers.

In [ ]:
n = 5
tri_num = [i * (i + 1) // 2 for i in range(1, n + 1)]
print(tri_num)

49. Check if a list contains another list as a subsequence.

In [ ]:
def subsequ(list1, list2):
    set1 = set(list1)
    set2 = set(list2)
    return set1.issubset(set2)
list1 = [1, 2, 3]
list2 = [4,5, 1,2, 3]
subsequ(list1,list2)

50. Swap two elements in a list by their indices.

In [ ]:
def swap_element(data,index1,index2):
    if index1 < 0 or index1 >= len(data) or index2 < 0 or index2 >= len(data):
        print("invalid number . please provide valid number ")
        return
    data[index1],data[index2] = data[index2],data[index1]
data = [1,2,3,4,5,6,7,8]
swap_element(data,2,5)
print(data)

# Tuple Based Practice Problem :

1. Create a tuple with integers from 1 to 5.

In [ ]:
tuple1 = tuple(range(1, 6))
print(tuple1)

2. Access the third element of a tuple.

In [ ]:
tuple1 = (1, 2, 3, 4, 5)
third = tuple1[2]

3. Find the length of a tuple without using the `len()` function.

In [ ]:
tup= (1,2,3,4,5)
count = 0
for _ in tup:
    count += 1
print(count)

4. Count the occurrences of an element in a tuple.

In [ ]:
tup= (1, 2, 2, 3, 4, 2, 5)
element= 2
count = 0
for item in tup:
    if item == element:
        count += 1
print(count)

5. Find the index of the first occurrence of an element in a tuple.

In [ ]:
tup1 = (1, 2, 3, 4, 5, 2)
element = 2
index = tup1.index(element)
print(index)

6. Check if an element exists in a tuple.

In [ ]:
tuple1 = ("have", "a ", 'good',"day")
if "good" in tuple1:
    print("True")
else:
    print("false")

7. Convert a tuple to a list.

In [ ]:
tuple1 = ("doker", "java ", "python")
list1 = list(tuple1)
print(list1)

8. Convert a list to a tuple.

In [ ]:
list1 = ("doker", "java ", "python")
tuple1 = list(list1)
print(tuple1)

9. Unpack the elements of a tuple into variables.

In [ ]:
tuple1 = (1,2,3,4,5)
a,b,c,d,e = tuple1
print(a,b,c,d,e,)

10. Create a tuple of even numbers from 1 to 10.

In [ ]:
even_num = tuple(num for num in range(2, 11, 2))
print(even_num)

11. Create a tuple of odd numbers from 1 to 10.

In [ ]:
odd_num = tuple(num for num in range(1, 11, 2))
print(odd_num)

12. Concatenate two tuples.

In [ ]:
tuple1 = (1,2,3)
tuple2 = (4,5,6)
tuple3 = tuple1 + tuple2
print(tuple3)

13. Repeat a tuple three times.

In [ ]:
tuple1 = (1, 2, 3)
rep_tuple = tuple1 * 3
print(rep_tuple)

14. Check if a tuple is empty.

In [ ]:
def tuple1(tup):
    return len(tup) == 0
tup = (1,2)
tuple1(tup)

15. Create a nested tuple.

In [ ]:
nest_tup = ((1, 2), (3, 4), (5, 6))
nest_tup

16. Access the first element of a nested tuple.

In [ ]:
nest_tup = ((1, 2), (3, 4), (5, 6))
element = nest_tup[0][0]
print(element)

17. Create a tuple with a single element.

In [ ]:
tup = (1,)
print(tup)

18. Compare two tuples.

In [ ]:
tup1 = (1, 2, 3)
tup2 = (1, 2, 4)
if tup1 == tup2:
    print("equal")
else:
    print("not equal")

19. Delete a tuple.

In [ ]:
tup = (1, 2, 3)
tup = ()
print(tup)

20. Slice a tuple.

In [ ]:
tup = (1,2,3,4,5,6,7,8,9,10)
sliced = tup[2:6]
print(sliced)

21. Find the maximum value in a tuple.

In [ ]:
tup = (3, 7, 2, 8, 5)
max_val = max(tup)
print(max_val)

22. Find the minimum value in a tuple.

In [ ]:
tup = (3, 7, 2, 8, 5)
min_val = min(tup)
print(min_val)

23. Convert a string to a tuple of characters.

In [ ]:
str1= "hellow pw skills"
tup = tuple(str1)

24. Convert a tuple of characters to a string.

In [ ]:
tup = ('h', 'e', 'l', 'l', 'o')
str_tup = ''.join(tup)
print(str_tup)

25. Create a tuple from multiple data types.

In [ ]:
tup = (12, "Hello", 3.24,False)

26. Check if two tuples are identical.

In [ ]:
tuple1 =(1, 2, 3)
tuple2 =(1, 2, 3)
print(tuple1 == tuple2)

27. Sort the elements of a tuple.

In [ ]:
def tup(sort):
    sort_list = sorted(sort)
    sort_tup = tuple(sort_list)
    return sort_tup
tup1 = (3, 1, 4, 1, 5, 9, 2, 6, 5)
tup(tup1)

28. Convert a tuple of integers to a tuple of strings.

In [ ]:
def convert(tup):
    tup_str= tuple(str(x) for x in tup)
    return tup_str
tup = (1, 2, 3, 4, 5)
convert(tup)

29. Convert a tuple of strings to a tuple of integers.

In [ ]:
def convert(tup):
    tup_int= tuple(int(x) for x in tup)
    return tup_int
tup = (1, 2, 3, 4, 5)
convert(tup)

30. Merge two tuples.

In [ ]:
tup1=(1,2,3)
tup2=(4,5,6)
tup = tup1 + tup2
print(tup)

31. Flatten a nested tuple.

32. Create a tuple of the first 5 prime numbers.

In [ ]:
tup= (2, 3, 5, 7, 11)
tup

33. Check if a tuple is a palindrome.

In [ ]:
def pali_tup(tup):
    return tup == tup[::-1]
tup = (1,2,3,2,1)
pali_tup(tup)

34. Create a tuple of squares of numbers from 1 to 5.

In [ ]:
squ_tup = tuple(x ** 2 for x in range(1, 6))
print(squ_tup)



35. Filter out all even numbers from a tuple.

In [ ]:
def even_num(tup):
    return tuple(x for x in tup if x % 2 != 0)
tup = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
even_num(tup)

36. Multiply all elements in a tuple by 2.

In [ ]:
def multi_tup(tup):
    return tuple(x * 2 for x in tup)
tup= (1,2,3,4,5)
multi_tup(tup)

37. Create a tuple of random numbers.

38. Check if a tuple is sorted.

In [ ]:
def sort_tup(tup):
    return tup == tuple(sorted(tup))
tup1 = (1,2,3,4,5,6,7)
sort_tup(tup1)

39. Rotate a tuple to the left by `n` positions.

In [ ]:
def left_tup(tup, n):
    n %= len(tup)
    return tup[n:] + tup[:n]
tup = (1,2,3,4,5,6,7)
left_tup(tup,2)

40. Rotate a tuple to the right by `n` positions.

In [ ]:
def right_tup(tup, n):
    n %= len(tup)
    return tup[-n:] + tup[:-n]
tup = (1,2,3,4,5,6,7)
right_tup(tup,2)

41. Create a tuple of the first 5 Fibonacci numbers.

In [ ]:
def fibonacci(n):
    sequ = [0, 1]
    while len(sequ) < n:
        sequ.append(sequ[-1] + sequ[-2])
    return tuple(sequ)
fibonacci(5)

42. Create a tuple from user input.

In [ ]:
user_input = str()
user_tuple = tuple(user_input.split())
print(user_tuple)

43. Swap two elements in a tuple.

In [ ]:
tup1 = (1,2,3)
index1, index2 = 0, 2
list1 = list(tup1)
list1[index1], list1[index2] = list1[index2], list1[index1]
swapped_tuple = tuple(list1)
print(swapped_tuple)

44. Reverse the elements of a tuple.

In [ ]:
tup = (1, 2, 3, 4, 5)
reversed_tup = tup[::-1]
print(reversed_tup)

45. Create a tuple of the first `n` powers of 2.

In [ ]:
def powers_2(n):
    return tuple(2 ** i for i in range(n))
powers_2(3)

46. Find the longest string in a tuple of strings.

In [ ]:
string_tuple = ("python",'java','doker',"ruby")
string= max(string_tuple)
print(string)

47. Find the shortest string in a tuple of strings.

In [ ]:
string_tuple = ("python",'java','doker',"ruby")
string= min(string_tuple)
print(string)

48. Create a tuple of the first `n` triangular numbers.

In [ ]:
def triangul_num(n):
    return tuple((i * (i+1)) //2 for i in range(1, n + 1))
triangul_num(3)

49. Check if a tuple contains another tuple as a subsequence.

In [ ]:
def is_sub_tuple_string(tup1, tup2):
  tup1 = str(tup1)
  tup2 = str(tup2)
  return tup1 in tup2
tup1 = (1, 2, 3, 4, 5)
tup2 = (2, 3)
is_sub_tuple_string(tup1,tup2)

50. Create a tuple of alternating 1s and 0s of length `n`.

In [ ]:
def ones_zeros(n):
    return tuple(1 if i % 2 == 0 else 0 for i in range(n))
ones_zeros(24)

# Set Based Practice Problem :

1. Create a set with integers from 1 to 5.

In [ ]:
set1 = {1, 2, 3, 4,5}

2. Add an element to a set.

In [ ]:
set1 = {1, 2, 3, 4, 5}
set1.add(6)
print(set1)

3. Remove an element from a set.

In [ ]:
set1 = {1, 2, 3, 4, 5}
set1.remove(3)
print(set1)

4. Check if an element exists in a set.

In [ ]:
set1 = {1, 2, 3, 4, 5}
element = 3
print(element in set1)

5. Find the length of a set without using the `len()` function.

In [ ]:
set1 = {1, 2, 3, 4, 5}
count = 0
for i in set1:
    count += 1
print(i)

6. Clear all elements from a set.

In [ ]:
set1 = {1, 2, 3, 4, 5}
set1.clear()
print(set1)

7. Create a set of even numbers from 1 to 10.

In [ ]:
even_set = {x for x in range(1, 11) if x % 2 == 0}
print(even_set)

8. Create a set of odd numbers from 1 to 10.c

In [ ]:
even_set = {x for x in range(1, 11) if x % 2 != 0}
print(even_set)


9. Find the union of two sets.

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
u_set = set1.union(set2)
print(u_set)

10. Find the intersection of two sets.

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
inter_set = set1 &set2
print(inter_set)

11. Find the difference between two sets.

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
diff_set = set1.difference(set2)
print(diff_set)

12. Check if a set is a subset of another set.

In [ ]:
set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}
print(set1.issubset(set2))

13. Check if a set is a superset of another set.

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = {1, 2, 3}
print(set1.issuperset(set2))

14. Create a set from a list.

In [ ]:
list1 = [1, 2, 3, 4, 5]
set1 = set(list1)
print(set1)

15. Convert a set to a list.

In [ ]:
list1 ={1, 2, 3, 4, 5}
set1 = list(list1)
print(set1)

16. Remove a random element from a set.

In [ ]:
set1 = {1, 2, 3, 4, 5}
element = set1.pop()
print(element)

17. Pop an element from a set.

In [ ]:
set1 = {1, 2, 3, 4, 5}
element = set1.pop()
print(element)

18. Check if two sets have no elements in common.

In [ ]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}
print(set1.isdisjoint(set2))

19. Find the symmetric difference between two sets.

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
sym_diff = set1.symmetric_difference(set2)
print(sym_diff)

20. Update a set with elements from another set.

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set1.update(set2)
print(set1)

21. Create a set of the first 5 prime numbers.

22. Check if two sets are identical.

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 2, 1}
print(set1 == set2)

23. Create a frozen set.

In [ ]:
set1 = {1, 2, 3, 4, 5}
frz_set = frozenset(set1)
print(set1)

24. Check if a set is disjoint with another set.

In [ ]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}
print(set1.isdisjoint(set2))

25. Create a set of squares of numbers from 1 to 5.

In [ ]:
set1 = {x**2 for x in range(1, 6)}
print(set1)

26. Filter out all even numbers from a set.

In [ ]:
set1 = {1, 2, 3, 4, 5, 6}
filt_set = {x for x in set1 if x % 2 != 0}
print(filt_set)

27. Multiply all elements in a set by 2.

In [ ]:
set1 = {1, 2, 3, 4, 5}
multi = {x * 2 for x in set1}
print(multi)

28. Create a set of random numbers.

In [ ]:
import random
random1 = set()
for i in range(10):
    random1.add(random.randint(1, 100))
print(random1)

29. Check if a set is empty.

In [ ]:
set1 = ()
print(not bool(set1))



30. Create a nested set (hint: use frozenset).

In [ ]:
set1 = {frozenset({1,2}), frozenset({3,4,5}), frozenset({6 ,7,8})}
print(set1)

31. Remove an element from a set using the discard method.

In [ ]:
set1 = {1, 2, 3, 4, 5}
set1.discard(3)
print(set1)

32. Compare two sets.

In [ ]:
set1 = {1,2,3}
set2 = {1,2,3}
print(set1 == set2)

33. Create a set from a string.

34. Convert a set of strings to a set of integers.

In [ ]:
str1 = {"1", "2", "3", "4", "5"}
int1 = {int(string) for string in str1}
print(int1)

35. Convert a set of integers to a set of strings.

In [ ]:
int1 = [1, 2, 3, 4, 5]
str1 = {str(integer) for integer in int1}
print(str1)

36. Create a set from a tuple.

In [ ]:
tup1 = (1, 2, 3, 4, 5)
set1 = set(tup1)
print(set1)

37. Convert a set to a tuple.

In [ ]:
set1 = {1, 2, 3, 4, 5}
tup1 = tuple(set1)
print(tup1)

38. Find the maximum value in a set.

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = max(set1)
print(set2)

39. Find the minimum value in a set.

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = min(set1)
print(set2)

40. Create a set from user input.

41. Check if the intersection of two sets is empty.

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
print(set1.intersection(set2))

42. Create a set of the first 5 Fibonacci numbers.

In [ ]:
def generate_fibonacci(n):
    fibonacci_set = set()
    a, b = 0, 1
    count = 0
    while count < n:
        fibonacci_set.add(a)
        a, b = b, a + b
        count += 1
    return fibonacci_set
generate_fibonacci(5)

43. Remove duplicates from a list using sets.

In [ ]:
lis = [1, 2, 3, 4, 2, 3, 5, 6, 6]
set1 = list(set(lis))
print(set1)

44. Check if two sets have the same elements, regardless of their count.

In [ ]:
set1 = {1,2, 3,4}
set2 = {4, 3, 2,1,1}
print(set1 == set2)

45. Create a set of the first `n` powers of 2.

In [ ]:
power2 = set()
for i in range(n):
    power2.add(2 ** i)
print(power2)

46. Find the common elements between a set and a list.

In [ ]:
set1 = {1, 2, 3, 4, 5}
lis1 = [4, 5, 6, 7, 8]
element = set1.intersection(lis1)

47. Create a set of the first `n` triangular numbers.

In [ ]:
def trian_num(n):
  triangular_set = set()
  for i in range(1, n + 1):
    triangular_set.add(int(0.5 * i * (i + 1)))
  return triangular_set
trian_num(10)

48. Check if a set contains another set as a subset.

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = {2, 3}
print(set2.issubset(set1))

49. Create a set of alternating 1s and 0s of length `n`.

In [ ]:
def zeros_ones(n):
  return set(i % 2 for i in range(n))
zeros_ones(3)

50. Merge multiple sets into one.

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}
merged = set1.union(set2, set3)
print(merged)